.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container input,
.container textarea,
.container select {
    padding: 20px;
    background-color: var(--bgSoft);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    outline: none;
}

.container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}

.passwordWrapper {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.passwordWrapper input {
    flex: 5;
    border-radius: 5px 0 0 5px;
}

.passwordEye {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 20px;
    background-color: var(--bgSoft);
    color: var(--textColor);
    border-radius: 0 5px 5px 0;
    border-left: 1px solid var(--bg);
}