.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}

.providerBtn {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    color: var(--bgSoft);
}

.providerBtn svg {
    font-size: 30px;
}

.providerBtn:hover {
    opacity: 0.8;
}