.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.form input {
    padding: 20px;
    background-color: var(--bg);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    outline: none;
}

.form button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
}

.passwordWrapper {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.passwordWrapper input {
    flex: 5;
    border-radius: 5px 0 0 5px;
}

.passwordEye {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 20px;
    background-color: var(--bg);
    color: var(--textColor);
    border-radius: 0 5px 5px 0;
    border-left: 1px solid var(--bgSoft);
}

.error {
    color: #ef4444;
}