.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container {
    display: flex;
    gap: 50px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subtitle,
.title,
.desc,
.imgContainer {
    width: 100%;
    background-color: rgba(150, 150, 150, 0.3);
    position: relative;
    overflow: hidden;
}

.imgContainer {
    flex: 1;
    min-width: 250px;
    min-height: 250px;
}

.subtitle {
    height: 20px;
    width: 50%;
}

.title {
    height: 30px;
    width: 70%;
}

.desc {
    height: 20px;
    width: 90%;
}

.imgContainer {
    /* height: 100%; */
}


.subtitle::after,
.title::after,
.desc::after,
.imgContainer::after {
    position: absolute;
    z-index: 1;
    top: -50%;
    left: -10%;
    rotate: 10deg;
    height: 1000px;
    width: 4px;
    background-color: rgba(160, 160, 160, 0.3);
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.3);

    animation: shimmer 2s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        left: 110%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}