.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg);
}

.logo{
    font-size: 30px;
    font-weight: bold;
}